<div class="card-container">
  <mat-card class="introduction-card">Simple card</mat-card>
  <mat-card class="article-list-card">
    <app-article-card *ngFor="let article of articleList" [article]="article"></app-article-card>
    <div class="pagination-container">
      <nz-pagination [nzPageIndex]="currentPageIndex" [nzPageSize]="pageSize"
                     [nzTotal]="totalAmount" [nzShowQuickJumper]="true"
                     (nzPageIndexChange)="handelPageSizeChange($event)"></nz-pagination>
    </div>
  </mat-card>
</div>
