.card-container{
  padding: 10px 0;
  display: flex;
  min-height: 900px;
  justify-content: center;
  background-color: #F2F2F2;
}

.introduction-card{
  width: 250px;
  height: 400px;
  margin-right: 25px;
}

.article-list-card{
  width: 600px;
  height: max-content;
}

.pagination-container{
  text-align: center;
  margin-top: 20px;
}
