.card-container{
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
}

.introduction-card{
  width: 250px;
  height: 400px;
  margin-right: 50px;
}

.article-list-card{
  width: 600px;
  height: 800px;
}
