<div class="card-container">
  <mat-card class="article-list-card">
    <ul *ngIf="isDateReady" [@articleCardFlyIn] style="list-style: none">
      <li *ngFor="let article of articleList">
        <app-article-card [article]="article"></app-article-card>
      </li>
    </ul>
    <div class="pagination-container">
      <nz-pagination [nzPageIndex]="currentPageIndex" [nzPageSize]="pageSize"
                     [nzTotal]="totalAmount" [nzShowQuickJumper]="true"
                     (nzPageIndexChange)="handelPageSizeChange($event)"></nz-pagination>
    </div>
  </mat-card>
</div>
