<div class="article-card">
  <h2 style="text-align: center;font-size: 24px">{{article.articleName}}</h2>
  <p style="text-align: center">
    <span>修改于:{{article.lastEditTime|formatDate}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;分类:</span>
    <span style="cursor: pointer">{{article.category.categoryName}}</span>
  </p>
  <p style="min-height: 50px;text-indent: 2em">{{article.shortIntroduction?article.shortIntroduction:'暂无简介'}}</p>
  <div style="text-align: center">
    <button mat-raised-button color="primary" [routerLink]="['/visiter/article',article.articleName]">阅读全文</button>
  </div>
</div>
