<mat-toolbar color="primary">
  <button mat-button color="primary" style="color: white" routerLink="home">首页</button>
  <button mat-button color="primary" style="color: white;margin-left: 30px" routerLink="category">分类</button>
  <button mat-button color="primary" style="color: white;margin-left: 30px" routerLink="about">关于本站</button>
  <span class="toolbar-separator"> </span>
  <a href="https://material.angular.cn/" target="_blank" title="前往学习Angular Material">
    <button mat-button color="primary" style="color: white;float: right;">学习Angular Material</button>
  </a>
  <a href="https://github.com/Insertkey/blog-build-with-angular" target="_blank" title="前往GitHub查看该项目">
    <button mat-button color="primary" style="color: white;margin-left: 20px"><i nz-icon type="github" style="font-size: 24px" theme="outline"></i> GitHub
    </button>
  </a>
</mat-toolbar>
<!--头部菜单为固定定位，浮出文档流，这个div是占位用的-->
<div style="visibility: hidden;height: 64px"></div>
<router-outlet></router-outlet>
