<nz-table [nzBordered]="true" [nzFrontPagination]="false" [(nzPageIndex)]="currentPageIndex" [(nzPageSize)]="pageSize"
          [nzData]="articleList" #articleTable  [nzTotal]="total" [nzLoading]="loading"
          nzShowSizeChanger (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="PageSizeChange($event)"
          [nzShowQuickJumper]="true">
  <thead nzSingleSort (nzSortChange)="sort($event)" [nzSingleSort]="true">
  <tr>
    <th [nzWidth]="'80px'"></th>
    <th [nzWidth]="'240px'">文章标题</th>
    <th [nzWidth]="'180px'">文章分类</th>
    <th>文章简介</th>
    <th [nzWidth]="'180px'" nzShowSort nzSortKey="createTime">创建时间</th>
    <th [nzWidth]="'180px'" nzShowSort nzSortKey="lastEditTime">上次修改时间</th>
    <th [nzWidth]="'180px'">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articleTable.data;let i=index">
    <td>{{i+1}}</td>
    <td>{{article.articleName}}</td>
    <td>{{article.category.categoryName}}</td>
    <td>{{article.shortIntroduction?article.shortIntroduction:'暂无简介'}}</td>
    <td>{{article.createTime|formatDate}}</td>
    <td>{{article.lastEditTime|formatDate}}</td>
    <td (click)="handleTableClick($event.target.getAttribute('data-id'),$event.target.getAttribute('data-method'))">
      <button nz-button [nzType]="'primary'" [nzSize]="'small'" [attr.data-method]="'edit'" [attr.data-id]="article.id">
        修改
      </button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button [nzType]="'danger'" [nzSize]="'small'" [attr.data-method]="'delete'"
              [attr.data-id]="article.id">删除
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
