.category-list-card-container{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  min-height: 880px;
}

.category-list-card{
  width: 500px;
  min-height: 600px;
  height: max-content;
}

.category-list{
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  font-size: 20px;
  cursor: pointer;
}

.category-list:hover{
  background-color: #F2F2F2;
}

.article-list{
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  font-size: 20px;
  cursor: pointer;
}

.article-list:hover{
  background-color: #F2F2F2;
}
