<div style="background: #ECECEC;padding:25px;">
  <nz-card style="min-height: 820px" [nzBordered]="false" [nzTitle]="titleTemplet">
    <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="submitForm($event,changePasswordForm.value)" style="width: 500px">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="userName" placeholder="请输入用户名">
          <nz-form-explain *ngIf="changePasswordForm.get('userName').dirty && changePasswordForm.get('userName').errors">
            <ng-container *ngIf="changePasswordForm.get('userName').hasError('required')">
              请输入用户名!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>原密码</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="oldPassword" placeholder="请输入原密码" type="password">
          <nz-form-explain *ngIf="changePasswordForm.get('oldPassword').dirty&&changePasswordForm.get('oldPassword').errors">
            <ng-container *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
              请输入新密码!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>新密码</nz-form-label>
        <div>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input type="password" placeholder="请输入新密码" formControlName="newPassword">
            <nz-form-explain *ngIf="changePasswordForm.get('newPassword').dirty&&changePasswordForm.get('newPassword').hasError('required')">请输入新密码!</nz-form-explain>
          </nz-form-control>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!changePasswordForm.valid">提交</button>
          <button nz-button (click)="resetForm($event)" style="margin-left: 20px">重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
<ng-template #titleTemplet>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="../userInfo">个人中心</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      修改密码
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
