<div style="display: flex;justify-content: center;margin-top: 20px;min-height: 860px">
  <mat-card class="article-detail-card">
    <div [@flyInOut]>
      <markdown [src]="articleUrl" (load)="onLoad()"></markdown>
    </div>
  </mat-card>
  <nz-affix [nzOffsetTop]="80">
    <mat-card class="article-catalog-card">
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="true">
        <nz-link *ngFor="let anchor of anchorList" [nzHref]="'#'+anchor" [nzTitle]="anchor" class="anchor-item" [@flyInOut]></nz-link>
      </nz-anchor>
    </mat-card>
  </nz-affix>
</div>
